/* to change the font style on the website */
body{ 
    font-family:Arial, Helvetica, sans-serif;
}
/* this to decorate the navigation bar */
nav, a{
    text-decoration: none;
    color:firebrick;
    text-align: center;
    font-size: 20px;
    padding-left: 5vh;
    
}
/* to add hover on the links on the page */
a:hover{
    font-size: 22px;
    color:yellowgreen
}
/* this wrap the main body or postion the body text to decor the page */
 .wrapper{
    width:1000px;
    margin:auto;

    
 }
/* to align the heading2 */

main , h2{
    text-align: center;
}
/* placing the map */
.map{
    height: 80%;
    margin-top:20px;
    margin-right:40vh;
    
}
/* to create the container in footer */
.footer {
    display: flex;
    justify-content: space-between;
    /* Create the gradient. */
    width: 100%;

    background-image: linear-gradient(to right, rgb(184, 228, 250) , rgb(120, 231, 162));
    
    color:white;
    font-size: 25px;
    
}
/* this to add the add about us inside the footer */
.info{
    height:40vh;
    width:40vh;
    font-size: 16px;
    margin-left:40vh;
    padding-top:10px;

}

